body {
    background-color: rgb(64, 64, 64);
    color: white;
    font-family: sans-serif;
    display: grid;
    place-content: center;

}

#gameboard {
    display: grid;
    grid-template-rows: repeat(3, 3rem);
    grid-template-columns: repeat(3, 3rem);
    gap: 8px;
    margin: .5rem 0;
}

.cell {
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid black;
    transition: background-color , color, ease-in-out .25s;
}

#controls {
    display: flex;
    gap: .5rem;
}

#controls > button {
    padding: .3rem;
}

#configure-dialog {
    background-color: rgb(95, 95, 95);
    color: white;
    border-color: black;
}

#configure-form > h2 {
    text-align: center;
    margin-top: 0;
}

label {
    padding-right: .5rem;
}

fieldset {
    margin: 1rem 0;
}
    
#configure-form > div:last-child > button {
    display: block;
    margin: auto;
    padding: .3rem;
}